<a href="https://colab.research.google.com/github/bimbeo/Web/blob/master/Data_Type_Set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1, Viết chương trình Python để tạo một tập hợp trống mới.**

**Write a Python program to create a new empty set.**

In [1]:
x = set()                       #Create a new empty set 
print(x)
n = set([0, 1, 2, 3, 4])        #Create a non empty set
print(n)

set()
{0, 1, 2, 3, 4}

**2, Viết chương trình Python để lặp lại qua các bộ.**

**Write a Python program to iteration over sets.**

In [2]:
num_set = set([0, 1, 2, 3, 4, 5])               #Create a set 
for n in num_set:
  print(n)

0
1
2
3
4
5

**3, Viết chương trình Python để thêm (các) thành viên trong một bộ.**

**Write a Python program to add member(s) in a set.**

![alt text](https://www.w3resource.com/w3r_images/python-sets-image-exercise-3.svg)

In [3]:
color_set = set()                         #A new empty set
color_set.add("Red")
print(color_set)
color_set.update(["Blue", "Green"])       #Add multiple items
print(color_set)

{'Red'}
{'Blue', 'Red', 'Green'}

**4, Viết chương trình Python để xóa (các) mục khỏi bộ.**

**Write a Python program to remove item(s) from set.**

![alt text](https://www.w3resource.com/w3r_images/python-sets-image-exercise-4.svg)

In [4]:
num_set = set([0, 1, 3, 4, 5])
num_set.pop()
print(num_set)
num_set.pop()
print(num_set)

{1, 3, 4, 5}
{3, 4, 5}

**5, Viết chương trình Python để xóa một mục khỏi tập hợp nếu nó có trong tập hợp.**

**Write a Python program to remove an item from a set if it is present in the set.**

![alt text](https://www.w3resource.com/w3r_images/python-sets-image-exercise-5.svg)

In [5]:
num_set = set([0, 1, 2, 3, 4, 5])     #Create a new set
num_set.discard(4)                    #Discard number 4
print(num_set)

{0, 1, 2, 3, 5}

**6, Viết chương trình Python để tạo giao điểm của các tập hợp.**

**Write a Python program to create an intersection of sets.**

![alt text](https://www.w3resource.com/w3r_images/python-sets-image-exercise-6.svg)

In [6]:
setx = set(["green", "blue"])          
sety = set(["blue", "yellow"])
setz = setx & sety                       #Intersection
print(setz)

{'blue'}

**7, Viết chương trình Python để tạo một tập hợp các tập hợp.**

**Write a Python program to create a union of sets.**

![alt text](https://www.w3resource.com/w3r_images/python-sets-image-exercise-7.svg)

In [7]:
setx = set(["green", "blue"])
sety = set(["blue", "yellow"])
seta = setx | sety                      #Union
print(seta)

{'yellow', 'blue', 'green'}

**8, Viết chương trình Python để tạo sự khác biệt thiết lập.**

**Write a Python program to create set difference.**

![alt text](https://www.w3resource.com/w3r_images/python-sets-image-exercise-8.svg)

In [8]:
setx = set(["apple", "mango"])
sety = set(["mango", "orange"])
setz = setx & sety
print(setz)
setb = setx - setz                      #Set difference
print(setb)

{'mango'}
{'apple'}

**9, Viết chương trình Python để tạo sự khác biệt đối xứng.**

**Write a Python program to create a symmetric difference.**

![alt text](https://www.w3resource.com/w3r_images/python-sets-image-exercise-9.svg)

In [9]:
setx = set(["apple", "mango"])
sety = set(["mango", "orange"])
setc = setx ^ sety                    #Symmetric difference
print(setc)

{'orange', 'apple'}

**10, Viết chương trình Python để kiểm tra xem mọi phần tử trong s có nằm trong t hay không và mọi phần tử trong t đều nằm trong s.**

**Write a Python program to test whether every element in s is in t and every element in t is in s.**

In [10]:
setx = set(["apple", "mango"])
sety = set(["mango", "orange"])
setz = set(["mango"])
issubset = setx <= sety
print(issubset)
issuperset = setx >= sety
print(issuperset)
issubset = setz <= sety
print(issubset)
issuperset = sety >= setz
print(issuperset)

False
False
True
True

**11, Viết chương trình Python để tạo một bản sao nông của các bộ.**

**Write a Python program to create a shallow copy of sets.**

![alt text](https://www.w3resource.com/w3r_images/python-sets-image-exercise-11.svg)

In [11]:
setp = set(["Red", "Green"])
setq = set(["Green", "Red"])
setr = setp.copy()                    #A shallow copy
print(setr)

{'Red', 'Green'}

**12, Viết chương trình Python để xóa một tập hợp.**

**Write a Python program to clear a set.**

![alt text](https://www.w3resource.com/w3r_images/python-sets-image-exercise-12.svg)

In [12]:
setp = set(["Red", "Green"])
setq = setp.copy()
print(setq)
setq.clear()
print(setq)

{'Red', 'Green'}
set()

**13, Viết chương trình Python để sử dụng hàng chục.**

**Write a Python program to use of frozensets.**

![alt text](https://www.w3resource.com/w3r_images/python-sets-image-exercise-13.svg)

In [14]:
x = frozenset([1, 2, 3, 4, 5])            
y = frozenset([3, 4, 5, 6, 7])
print(x.isdisjoint(y))                      #use isdisjoint(). Return True if the set has no elements in common with other. 
print(x.difference(y))                      #use difference(). Return a new set with elements in the set that are not in the others.
print(x | y)                                #new set with elements from both x and y

False
frozenset({1, 2})
frozenset({1, 2, 3, 4, 5, 6, 7})

**14, Viết chương trình Python để tìm giá trị tối đa và tối thiểu trong một tập hợp**

**Write a Python program to find maximum and the minimum value in a set.**

![alt text](https://www.w3resource.com/w3r_images/python-sets-image-exercise-14.svg)

In [15]:
seta = set([5, 10, 3, 15, 2, 20])               #Create a set
print(max(seta))                                #Find maximum value
print(min(seta))                                #Find minimum value

20
2

**15, Viết chương trình Python để tìm độ dài của tập hợp..**

**Write a Python program to find the length of a set.**


![alt text](https://www.w3resource.com/w3r_images/python-sets-image-exercise-15.svg)

In [16]:
seta = set([5, 10, 3, 15, 2, 20])       #Create a set
print(len(seta))                        #Find the length use len()

6