<a href="https://colab.research.google.com/github/bimbeo/Web/blob/master/Pandas_Data_Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1, Viết chương trình Pandas để tạo và hiển thị một đối tượng giống như mảng một chiều có chứa một mảng dữ liệu.**

**Write a Pandas program to create and display a one-dimensional array-like object containing an array of data.**

In [1]:
import pandas as pd
ds = pd.Series([2,4,6,8,10])
print(ds)

0     2
1     4
2     6
3     8
4    10
dtype: int64

**2, Viết chương trình Pandas để chuyển đổi một mô-đun Panda thành danh sách Python và loại này.**

**Write a Pandas program to convert a Panda module Series to Python list and it’s type.**

In [2]:
ds = pd.Series([2,4,6,8,10])
print("Pandas Series and type")
print(ds)
print(type(ds))
print("Convert Pandas Series to Python list")
print(ds.tolist())
print(type(ds.tolist()))

Pandas Series and type
0     2
1     4
2     6
3     8
4    10
dtype: int64
<class 'pandas.core.series.Series'>
Convert Pandas Series to Python list
[2, 4, 6, 8, 10]
<class 'list'>

**3, Viết chương trình Pandas để cộng, trừ, nhân và chia hai Series Pandas.**

**Write a Pandas program to add, subtract, multiple and divide two Pandas Series**.

In [3]:
ds1 = pd.Series([2,4,6,8,10])
ds2 = pd.Series([1,3,5,7,9])
ds = ds1 + ds2
print("Add two Series:")
print(ds)
print("Subtract two Series: ")
ds = ds1 - ds2
print(ds)
print("Multiply two Series:")
ds = ds1 * ds2
print(ds)
print("Divide Series1 by Series2:")
ds = ds1 / ds2
print(ds)

Add two Series:
0     3
1     7
2    11
3    15
4    19
dtype: int64
Subtract two Series:
0    1
1    1
2    1
3    1
4    1
dtype: int64
Multiply two Series:
0     2
1    12
2    30
3    56
4    90
dtype: int64
Divide Series1 by Series2:
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

**4, Viết chương trình Pandas để so sánh các yếu tố của hai Series Pandas.**

**Write a Pandas program to compare the elements of the two Pandas Series.**

In [5]:
ds1 = pd.Series([2,4,6,8,10])
ds2 = pd.Series([1,3,5,7,10])
print("Series1:")
print(ds1)
print("Series2:")
print(ds2)
print("Compare the elements of the said Series:")
print("Equals:")
print(ds1 == ds2)
print("Greater than:")
print(ds1 > ds2)
print("Less than:")
print(ds1 < ds2)

Series1:
0     2
1     4
2     6
3     8
4    10
dtype: int64
Series2:
0     1
1     3
2     5
3     7
4    10
dtype: int64
Compare the elements of the said Series:
Equals:
0    False
1    False
2    False
3    False
4     True
dtype: bool
Greater than:
0     True
1     True
2     True
3     True
4    False
dtype: bool
Less than:
0    False
1    False
2    False
3    False
4    False
dtype: bool

**5, Viết chương trình Pandas để chuyển đổi từ điển thành loạt Pandas.**

**Write a Pandas program to convert a dictionary to a Pandas series.**

In [6]:
d1 = {'a':100, 'b':200, 'c':300, 'd':400, 'e':800}
print("Original dictionary:")
print(d1)
new_series = pd.Series(d1)
print("Convert series:")
print(new_series)

Original dictionary:
{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
Convert series:
a    100
b    200
c    300
d    400
e    800
dtype: int64

**6, Viết chương trình Pandas để chuyển đổi một mảng NumPy thành một chuỗi Pandas.**

**Write a Pandas program to convert a NumPy array to a Pandas series.**

In [7]:
import numpy as np
np_array = np.array([10,20,30,40,50])
print("NumPy array:")
print(np_array)
new_series = pd.Series(np_array)
print("Converted Pandas series:")
print(new_series)

NumPy array:
[10 20 30 40 50]
Converted Pandas series:
0    10
1    20
2    30
3    40
4    50
dtype: int64

**7, Viết chương trình Pandas để thay đổi kiểu dữ liệu của một cột hoặc Sê-ri.**

**Write a Pandas program to change the data type of given a column or a Series.**

In [8]:
s1 = pd.Series(['100', '200', 'python', '300.12', '400'])
print("Original Data Series:")
print(s1)
print("Change the said data type to numeric:")
s2 = pd.to_numeric(s1, errors='coerce')
print(s2)

Original Data Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object
Change the said data type to numeric:
0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

**8, Viết chương trình Python Pandas để chuyển đổi cột đầu tiên của DataFrame dưới dạng Sê-ri.**

**Write a Python Pandas program to convert the first column of a DataFrame as a Series.**

In [12]:
d = {'col1' : [1,2,3,4,7,11], 'col2': [4,5,6,9,5,0], 'col3':[7,5,8,12,1,11]}
df = pd.DataFrame(data=d)
print("Original DataFrame")
print(df)
s1 = df.iloc[:,0]
print("\n1st column as a Series:")
print(s1)
print(type(s1))

Original DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11

1st column as a Series:
0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64
<class 'pandas.core.series.Series'>

**9, Viết chương trình Pandas để chuyển đổi một Series đã cho thành một mảng.**

**Write a Pandas program to convert a given Series to an array.**

In [16]:
s1 = pd.Series(['100', '200', 'python', '300.12', '400'])
print("Original Data Series: ")
print(s1)
print("Seires to an array")
a = np.array(s1.values.tolist())
print(a)

Original Data Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object
Seires to an array
['100' '200' 'python' '300.12' '400']

**10, Viết chương trình Pandas để chuyển đổi Sê-ri danh sách thành Sê-ri.**

**Write a Pandas program to convert Series of lists to one Series.**

In [17]:
s = pd.Series([
               ['Red', 'Green', 'White'],
               ['Red', 'Black'],
               ['Yellow']
])
print("Original Series of list")
print(s)
s = s.apply(pd.Series).stack().reset_index(drop=True)
print("One Series")
print(s)

Original Series of list
0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: object
One Series
0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

**11, Viết chương trình Pandas để sắp xếp một Series nhất định.**

**Write a Pandas program to sort a given Series.**

In [18]:
s = pd.Series(['100', '200', 'python', '300.12', '400'])
print("Original Data Series:")
print(s)
new_s = pd.Series(s).sort_values()
print(new_s)

Original Data Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object
0       100
1       200
3    300.12
4       400
2    python
dtype: object

**12, Viết chương trình Pandas để thêm một số dữ liệu vào Sê-ri hiện có.**

**Write a Pandas program to add some data to an existing Series.**

In [19]:
s = pd.Series(['100', '200', 'python', '300.12', '400'])
print("Original Data Seires:")
print(s)
print("\nData Series after adding some data:")
new_s = s.append(pd.Series(['500', 'php']))
print(new_s)

Original Data Seires:
0       100
1       200
2    python
3    300.12
4       400
dtype: object

Data Series after adding some data:
0       100
1       200
2    python
3    300.12
4       400
0       500
1       php
dtype: object

**13, Viết chương trình Pandas để tạo tập hợp con của một chuỗi đã cho dựa trên giá trị và điều kiện.**

**Write a Pandas program to create a subset of a given series based on value and condition.**

In [22]:
s = pd.Series([0,1,2,3,4,5,6,7,8,9,100])
print("Original Data Series:")
print(s)
print("\nSubset of the above Data Series:")
n = 6
new_s = s[s<n]
print(new_s)

Original Data Series:
0       0
1       1
2       2
3       3
4       4
5       5
6       6
7       7
8       8
9       9
10    100
dtype: int64

Subset of the above Data Series:
0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

**14, Viết chương trình Pandas để thay đổi thứ tự chỉ mục của một chuỗi đã cho.**

**Write a Pandas program to change the order of index of a given series.**

In [23]:
s = pd.Series(data=[1,2,3,4,5], index = ['A', 'B', 'C', 'D', 'E'])
print("Original Data Serires:")
print(s)
s = s.reindex(index=['B', 'A', 'C', 'D', 'E'])
print("Data Series after changing the order of index:")
print(s)

Original Data Serires:
A    1
B    2
C    3
D    4
E    5
dtype: int64
Data Series after changing the order of index:
B    2
A    1
C    3
D    4
E    5
dtype: int64

**15, Viết chương trình Pandas để tạo độ lệch trung bình và độ lệch chuẩn của dữ liệu của Sê-ri nhất định.**

**Write a Pandas program to create the mean and standard deviation of the data of a given Series.**

In [24]:
s = pd.Series(data = [1,2,3,4,5,6,7,8,9,5,3])
print("Original Data Series:")
print(s)
print("Mean of the said Data Series:")
print(s.mean())
print("Standard deviation of the said Data Series:")
print(s.std())

Original Data Series:
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9     5
10    3
dtype: int64
Mean of the said Data Series:
4.818181818181818
Standard deviation of the said Data Series:
2.522624895547565

**16, Viết chương trình Pandas để lấy các mục của một chuỗi đã cho không có trong một chuỗi khác.**

**Write a Pandas program to get the items of a given series not present in another given series.**

In [25]:
sr1 = pd.Series([1,2,3,4,5])
sr2 = pd.Series([2,4,6,8,10])
print("Original Series:")
print("sr1")
print(sr1)
print("sr2")
print(sr2)
print("\nItems of sr1 not present in sr2")
result = sr1[~sr1.isin(sr2)]
print(result)

Original Series:
sr1
0    1
1    2
2    3
3    4
4    5
dtype: int64
sr2
0     2
1     4
2     6
3     8
4    10
dtype: int64

Items of sr1 not present in sr2
0    1
2    3
4    5
dtype: int64

**17, Viết chương trình Pandas để lấy các mục không phổ biến trong hai chuỗi đã cho.**

**Write a Pandas program to get the items which are not common of two given series.**

In [26]:
sr1 = pd.Series([1,2,3,4,5])
sr2 = pd.Series([2,4,6,8,10])
print("Original Series:")
print("sr1")
print(sr1)
print("sr2")
print(sr2)
print("\nItems of a given series not present in another given series:")
sr11 = pd.Series(np.union1d(sr1, sr2))
sr22 = pd.Series(np.intersect1d(sr1, sr2))
result = sr11[~sr11.isin(sr22)]
print(result)

Original Series:
sr1
0    1
1    2
2    3
3    4
4    5
dtype: int64
sr2
0     2
1     4
2     6
3     8
4    10
dtype: int64

Items of a given series not present in another given series:
0     1
2     3
4     5
5     6
6     8
7    10
dtype: int64

**18, Viết chương trình Pandas để tính toán phần trăm tối thiểu, 25 phần trăm, trung vị, 75 và tối đa của một chuỗi nhất định.**

**Write a Pandas program to compute the minimum, 25th percentile, median, 75th, and maximum of a given series.**

In [27]:
num_state = np.random.RandomState(100)
num_series = pd.Series(num_state.normal(10,4,20))
print("Original Series:")
print(num_series)
result = np.percentile(num_series, q=[0,25,50,75,100])
print("\nMinimum, 25th percentile, median, 75th, and maximum of a given Series:")
print(result)

Original Series:
0      3.000938
1     11.370722
2     14.612143
3      8.990256
4     13.925283
5     12.056875
6     10.884719
7      5.719827
8      9.242017
9     11.020006
10     8.167892
11    11.740654
12     7.665620
13    13.267388
14    12.690883
15     9.582355
16     7.874878
17    14.118931
18     8.247458
19     5.526727
dtype: float64

Minimum, 25th percentile, median, 75th, and maximum of a given Series:
[ 3.00093811  8.09463867 10.23353705 12.21537733 14.61214321]

**19, Viết chương trình Pandas để tính tổng tần số của từng giá trị duy nhất của một chuỗi đã cho.**

**Write a Pandas program to calculate the frequency counts of each unique value of a given series.**

In [28]:
num_series = pd.Series(np.take(list('0123456789'), np.random.randint(10, size=40)))
print("Original Series:")
print(num_series)
print("Frequency of each unique value of the said series.")
result = num_series.value_counts()
print(result)

Original Series:
0     6
1     9
2     4
3     1
4     6
5     2
6     2
7     8
8     1
9     8
10    5
11    8
12    3
13    3
14    7
15    5
16    7
17    5
18    9
19    0
20    7
21    9
22    4
23    9
24    1
25    1
26    8
27    2
28    1
29    6
30    8
31    6
32    8
33    6
34    4
35    5
36    9
37    3
38    8
39    8
dtype: object
Frequency of each unique value of the said series.
8    8
9    5
6    5
1    5
5    4
2    3
3    3
4    3
7    3
0    1
dtype: int64

**20, Viết chương trình Pandas để hiển thị giá trị thường xuyên nhất trong một chuỗi nhất định và thay thế mọi thứ khác như ’Other khác trong chuỗi.**

**Write a Pandas program to display most frequent value in a given series and replace everything else as ‘Other’ in the series.**

In [30]:
np.random.RandomState(100)
num_series = pd.Series(np.random.randint(1, 5, [15]))
print("Original Series:")
print(num_series)
print("Top 2 Freq:", num_series.value_counts())
result = num_series[~num_series.isin(num_series.value_counts().index[:1])] = 'Other'
print(result)

Original Series:
0     4
1     2
2     2
3     1
4     2
5     2
6     1
7     3
8     3
9     4
10    1
11    2
12    2
13    2
14    3
dtype: int64
Top 2 Freq: 2    7
3    3
1    3
4    2
dtype: int64
Other

**21, Viết chương trình Pandas để tìm vị trí của các số là bội số của 5 chuỗi đã cho.**

**Write a Pandas program to find the positions of numbers that are multiples of 5 of a given series.**

In [33]:
num_series = pd.Series(np.random.randint(1, 10, 9))
print("Original Series:")
print(num_series)
result = np.argwhere(num_series % 5==0)
print("Positions of numbers that are multiples of 5:")
print(result)

Original Series:
0    4
1    1
2    3
3    5
4    4
5    4
6    4
7    2
8    8
dtype: int64

ValueError: ignored

**22, Viết chương trình Pandas để trích xuất các mục tại các vị trí nhất định của một chuỗi nhất định.**

**Write a Pandas program to extract items at given positions of a given series.**

In [34]:
num_series = pd.Series(list('2390238923902390239023'))
element_pos = [0, 2, 6, 11, 21]
print("original Series")
print(num_series)
result = num_series.take(element_pos)
print("\nExtract items at given positions of the said series:")
print(result)

original Series
0     2
1     3
2     9
3     0
4     2
5     3
6     8
7     9
8     2
9     3
10    9
11    0
12    2
13    3
14    9
15    0
16    2
17    3
18    9
19    0
20    2
21    3
dtype: object

Extract items at given positions of the said series:
0     2
2     9
6     8
11    0
21    3
dtype: object

**23, Viết chương trình Pandas để có được vị trí của các vật phẩm trong một chuỗi nhất định trong một chuỗi khác.**

**Write a Pandas program to get the positions of items of a given series in another given series**.

In [36]:
series1 = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
series2 = pd.Series([1, 3, 5, 7, 10])
print("Original Series:")
print(series1)
print(series2)
result = [pd.Index(series1).get_loc(i) for i in series2]
print("Positions of items of series2 in series1:")
print(result)

Original Series:
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64
0     1
1     3
2     5
3     7
4    10
dtype: int64
Positions of items of series2 in series1:
[0, 2, 4, 6, 9]

**24, Viết chương trình Pandas chuyển đổi ký tự đầu tiên và cuối cùng của mỗi từ thành chữ hoa trong mỗi từ của một chuỗi nhất định.**

**Write a Pandas program convert the first and last character of each word to upper case in each word of a given series.**

In [37]:
series1 = pd.Series(['php', 'python', 'java', 'c#'])
print("Original Series:")
print(series1)
result = series1.map(lambda x: x[0].upper() + x[1:-1] + x[-1].upper())
print("\nFirst and last character of each word to upper case:")
print(result)

Original Series:
0       php
1    python
2      java
3        c#
dtype: object

First and last character of each word to upper case:
0       PhP
1    PythoN
2      JavA
3        C#
dtype: object

**25, Viết chương trình Pandas để tính số lượng ký tự trong mỗi từ trong một chuỗi đã cho.**

**Write a Pandas program to calculate the number of characters in each word in a given series.**

In [38]:
series1 = pd.Series(['Php', 'Python', 'Java', 'C#'])
print("Original Series:")
print(series1)
result = series1.map(lambda x:len(x))
print("\nNumer of character in each word in the said series:")
print(result)

Original Series:
0       Php
1    Python
2      Java
3        C#
dtype: object

Numer of character in each word in the said series:
0    3
1    6
2    4
3    2
dtype: int64

**26, Viết chương trình Pandas để tính toán sự khác biệt giữa các số liên tiếp của một chuỗi đã cho.**

**Write a Pandas program to compute difference of differences between consecutive numbers of a given series.**

In [39]:
series1 = pd.Series([1,3,5,8,10,11,15])
print("Original Series:")
print(series1)
print("\nDifference of differences between consecutive numbers of the said series:")
print(series1.diff().tolist())
print(series1.diff().diff().tolist())

Original Series:
0     1
1     3
2     5
3     8
4    10
5    11
6    15
dtype: int64

Difference of differences between consecutive numbers of the said series:
[nan, 2.0, 2.0, 3.0, 2.0, 1.0, 4.0]
[nan, nan, 0.0, 1.0, -1.0, -1.0, 3.0]

**27, Viết chương trình Pandas để chuyển đổi chuỗi chuỗi ngày thành chuỗi thời gian.**

**Write a Pandas program to convert a series of date strings to a timeseries.**

In [40]:
date_series = pd.Series(['01 Jan 2015', '10-02-2016', '20180307', '2014/05/06', '2016-04-12', '2019-04-06T11:20'])
print("Origial Series:")
print(date_series)
print("\nSeries of data strings to a timeseries:")
print(pd.to_datetime(date_series))

Origial Series:
0         01 Jan 2015
1          10-02-2016
2            20180307
3          2014/05/06
4          2016-04-12
5    2019-04-06T11:20
dtype: object

Series of data strings to a timeseries:
0   2015-01-01 00:00:00
1   2016-10-02 00:00:00
2   2018-03-07 00:00:00
3   2014-05-06 00:00:00
4   2016-04-12 00:00:00
5   2019-04-06 11:20:00
dtype: datetime64[ns]

**28, Viết chương trình Pandas để lấy ngày trong tháng, ngày trong năm, số tuần và ngày trong tuần từ một chuỗi các chuỗi ngày nhất định.**

**Write a Pandas program to get the day of month, day of year, week number and day of week from a given series of date strings.**

In [46]:
from dateutil.parser import parse
date_series = pd.Series(['01 Jan 2015', '10-02-2016', '20180307', '2014/05/06', '2016-04-12', '2019-04-06T11:20'])
print("Original Series:")
print(date_series)
date_series = date_series.map(lambda x: parse(x))
print("Day of month:")
print(date_series.dt.day.tolist())
print("Day of year:")
print(date_series.dt.dayofyear.tolist())
print("Week number:")
print(date_series.dt.weekofyear.tolist())
print("Day of week:")
#print(date_series.dt.weekofday_name.tolist())

Original Series:
0         01 Jan 2015
1          10-02-2016
2            20180307
3          2014/05/06
4          2016-04-12
5    2019-04-06T11:20
dtype: object
Day of month:
[1, 2, 7, 6, 12, 6]
Day of year:
[1, 276, 66, 126, 103, 96]
Week number:
[1, 39, 10, 19, 15, 14]
Day of week:

**29, Viết chương trình Pandas để chuyển đổi chuỗi năm tháng thành ngày thêm một ngày được chỉ định trong tháng.**

**Write a Pandas program to convert year-month string to dates adding a specified day of the month.**

In [47]:
date_series = pd.Series(['Jan 2015', 'Feb 2016', 'Mar 2017', 'Apr 2018', 'May 2019'])
print("Original Series:")
print(date_series)
print("\nNew dates:")
result = date_series.map(lambda d: parse('11' + d))
print(result)

Original Series:
0    Jan 2015
1    Feb 2016
2    Mar 2017
3    Apr 2018
4    May 2019
dtype: object

New dates:
0   2015-01-11
1   2016-02-11
2   2017-03-11
3   2018-04-11
4   2019-05-11
dtype: datetime64[ns]

**30, Viết chương trình Pandas để lọc các từ trong một chuỗi nhất định có chứa ít nhất hai nguyên âm.**

**Write a Pandas program to filter words from a given series that contain atleast two vowels.**

In [48]:
from collections import Counter
color_series = pd.Series(['Red', 'Green', 'Orange', 'Pink', 'Yellow', 'White'])
print("Original Series:")
print(color_series)
print("\nFiltered words:")
result = mask = color_series.map(lambda c: sum([Counter(c.lower()).get(i,0) for i in list('aeiou')]) >= 2)
print(color_series[result])

Original Series:
0       Red
1     Green
2    Orange
3      Pink
4    Yellow
5     White
dtype: object

Filtered words:
1     Green
2    Orange
4    Yellow
5     White
dtype: object

**31, Viết chương trình Pandas để tính khoảng cách Euclide giữa hai chuỗi đã cho.**

**Write a Pandas program to compute the Euclidean distance between two given series.**

In [50]:
x = pd.Series([1,2,3,4,5,6,7,8,9,10])
y = pd.Series([11,8,7,5,6,5,3,4,7,1])
print("Original series:")
print(x)
print(y)
print("\nEuclidean distance between two said series:")
print(np.linalg.norm(x-y))

Original series:
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64
0    11
1     8
2     7
3     5
4     6
5     5
6     3
7     4
8     7
9     1
dtype: int64

Euclidean distance between two said series:
16.492422502470642

**32, Viết chương trình Pandas để tìm vị trí của các giá trị được bao quanh bởi các giá trị nhỏ hơn ở cả hai phía trong một chuỗi nhất định.**

**Write a Pandas program to find the positions of the values neighboured by smaller values on both sides in a given series.**

![alt text](https://www.w3resource.com/w3r_images/python-pandas-data-series-image-exercise-32.svg)

In [51]:
nums = pd.Series([1, 8, 7, 5, 6, 5, 3, 4, 7, 1])
print("Original series:")
print(nums)
print("\nPositions of the values surrounded by smaller values on both sides:")
temp = np.diff(np.sign(np.diff(nums)))
result = np.where(temp == -2)[0] + 1
print(result)

Original series:
0    1
1    8
2    7
3    5
4    6
5    5
6    3
7    4
8    7
9    1
dtype: int64

Positions of the values surrounded by smaller values on both sides:
[1 4 8]

**33, Viết chương trình Pandas để thay thế các khoảng trắng bị thiếu trong một chuỗi đã cho bằng ký tự ít gặp nhất.**

**Write a Pandas program to replace missing white spaces in a given string with the least frequent character.**

In [52]:
str1 = 'abc def abcdef icd'
print("Original series:")
print(str1)
ser = pd.Series(list(str1))
element_freq = ser.value_counts()
print(element_freq)
current_freq = element_freq.dropna().index[-1]
result = "".join(ser.replace(' ', current_freq))
print(result)

Original series:
abc def abcdef icd
     3
d    3
c    3
e    2
f    2
a    2
b    2
i    1
dtype: int64
abcidefiabcdefiicd

**34, Viết chương trình Pandas để tính toán tự động của một chuỗi số đã cho.**

**Write a Pandas program to compute the autocorrelations of a given numeric series.**

Autocorrelation, còn được gọi là tương quan nối tiếp, là mối tương quan của tín hiệu với một bản sao bị trì hoãn của chính nó như là một chức năng của độ trễ. Một cách không chính thức, đó là sự giống nhau giữa các quan sát như là một hàm của độ trễ thời gian giữa chúng.

Autocorrelation, also known as serial correlation, is the correlation of a signal with a delayed copy of itself as a function of delay. Informally, it is the similarity between observations as a function of the time lag between them.

In [53]:
num_series = pd.Series(np.arange(15) + np.random.normal(1, 10, 15))
print("Original series:")
print(num_series)
autocorrelations = [num_series.autocorr(i).round(2) for i in range(11)]
print("\nAutocorrelations of the said series:")
print(autocorrelations[1:])

Original series:
0    -10.513684
1    -11.988586
2      1.743747
3     12.213028
4     19.929176
5      8.231419
6     19.383891
7      8.575035
8     12.555188
9      9.283606
10    13.588366
11    13.957133
12     4.191084
13    16.264615
14    12.726837
dtype: float64

Autocorrelations of the said series:
[0.53, 0.32, -0.29, -0.25, -0.11, -0.35, 0.42, -0.15, 0.05, 0.04]

**35, Viết chương trình Pandas để tạo TimeSeries để hiển thị tất cả các ngày chủ nhật của năm nhất định.**

**Write a Pandas program to create a TimeSeries to display all the Sundays of given year.**

In [54]:
result = pd.Series(pd.date_range('2020-01-01', periods=52, freq='W-SUN'))
print("All Sundays of 2019:")
print(result)

All Sundays of 2019:
0    2020-01-05
1    2020-01-12
2    2020-01-19
3    2020-01-26
4    2020-02-02
5    2020-02-09
6    2020-02-16
7    2020-02-23
8    2020-03-01
9    2020-03-08
10   2020-03-15
11   2020-03-22
12   2020-03-29
13   2020-04-05
14   2020-04-12
15   2020-04-19
16   2020-04-26
17   2020-05-03
18   2020-05-10
19   2020-05-17
20   2020-05-24
21   2020-05-31
22   2020-06-07
23   2020-06-14
24   2020-06-21
25   2020-06-28
26   2020-07-05
27   2020-07-12
28   2020-07-19
29   2020-07-26
30   2020-08-02
31   2020-08-09
32   2020-08-16
33   2020-08-23
34   2020-08-30
35   2020-09-06
36   2020-09-13
37   2020-09-20
38   2020-09-27
39   2020-10-04
40   2020-10-11
41   2020-10-18
42   2020-10-25
43   2020-11-01
44   2020-11-08
45   2020-11-15
46   2020-11-22
47   2020-11-29
48   2020-12-06
49   2020-12-13
50   2020-12-20
51   2020-12-27
dtype: datetime64[ns]