<a href="https://colab.research.google.com/github/bimbeo/Web/blob/master/Pandas_IMDb_Movies_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1, Viết chương trình Pandas để lấy các cột của DataFrame (tệp movies_metadata.csv).**

**Write a Pandas program to get the columns of the DataFrame (movies_metadata.csv file).**

In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('/content/drive/My Drive/Khai pha/tesst/movies_metadata.csv')
print("Columns of the DataFrame")
print(df.columns)

Columns of the DataFrame
Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

**2, Viết chương trình Pandas để lấy thông tin của DataFrame (tệp movies_metadata.csv) bao gồm các loại dữ liệu và việc sử dụng bộ nhớ.**

**Write a Pandas program to get the information of the DataFrame (movies_metadata.csv file) including data types and memory usage.**

In [2]:
result = df.info()
print("Details of the DataFrame")
print(result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB
Details of the DataFrame
None

**3, Viết chương trình Pandas để lấy thông tin chi tiết về bộ phim thứ ba của DataFrame (tệp movies_metadata.csv).**

**Write a Pandas program to get the details of the third movie of the DataFrame (movies_metadata.csv file).**

In [3]:
third_movie = df.iloc[2]
print("Details of the third moviee:")
print(third_movie)

Details of the third moviee:
adult                                                                False
belongs_to_collection    {'id': 119050, 'name': 'Grumpy Old Men Collect...
budget                                                                   0
genres                   [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
homepage                                                               NaN
id                                                                   15602
imdb_id                                                          tt0113228
original_language                                                       en
original_title                                            Grumpier Old Men
overview                 A family wedding reignites the ancient feud be...
popularity                                                         11.7129
poster_path                               /6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg
production_companies     [{'name': 'Warner Bros.', 'id': 6194}, {'name'...
production_countries     [{'iso_3166_1': 'US', 'name': 'United States o...
release_date                                                    1995-12-22
revenue                                                                  0
runtime                                                                101
spoken_languages                  [{'iso_639_1': 'en', 'name': 'English'}]
status                                                            Released
tagline                  Still Yelling. Still Fighting. Still Ready for...
title                                                     Grumpier Old Men
video                                                                False
vote_average                                                           6.5
vote_count                                                              92
Name: 2, dtype: object

**4, Viết chương trình Pandas để đếm số lượng hàng và cột của DataFrame (tệp movies_metadata.csv).**

**Write a Pandas program to count the number of rows and columns of the DataFrame (movies_metadata.csv file).**

In [4]:
result = df.shape
print("Number of rows and columns of the DataFrame")
print(result)

Number of rows and columns of the DataFrame
(45466, 24)

**5, Viết chương trình Pandas để lấy chi tiết về tiêu đề cột và thể loại của DataFrame.**

**Write a Pandas program to get the details of the columns title and genres of the DataFrame.**

In [5]:
result = df[['title', 'genres']]
print("Details of title and genres:")
print(result)

Details of title and genres:
                             title                                             genres
0                        Toy Story  [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1                          Jumanji  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2                 Grumpier Old Men  [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3                Waiting to Exhale  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4      Father of the Bride Part II                     [{'id': 35, 'name': 'Comedy'}]
...                            ...                                                ...
45461                       Subdue  [{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...
45462          Century of Birthing                      [{'id': 18, 'name': 'Drama'}]
45463                     Betrayal  [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...
45464             Satan Triumphant                                                 []
45465                     Queerama                                                 []

[45466 rows x 2 columns]

**6, Viết chương trình Python Pandas để có được thông tin chi tiết của bộ phim với tiêu đề 'Ông già khó tính'.**

**Write a Python Pandas program to get the details of the movie with title 'Grumpier Old Men'.**

In [11]:
#Set the index to the title
#df = df.set_index('title')
#Details of the movie 'Grumpier Old Men'
result = df.loc['Grumpier Old Men']
print("Details of the movie 'Grumpier Old Men:")
print(result)

Details of the movie 'Grumpier Old Men:
adult                                                                False
belongs_to_collection    {'id': 119050, 'name': 'Grumpy Old Men Collect...
budget                                                                   0
genres                   [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
homepage                                                               NaN
id                                                                   15602
imdb_id                                                          tt0113228
original_language                                                       en
original_title                                            Grumpier Old Men
overview                 A family wedding reignites the ancient feud be...
popularity                                                         11.7129
poster_path                               /6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg
production_companies     [{'name': 'Warner Bros.', 'id': 6194}, {'name'...
production_countries     [{'iso_3166_1': 'US', 'name': 'United States o...
release_date                                                    1995-12-22
revenue                                                                  0
runtime                                                                101
spoken_languages                  [{'iso_639_1': 'en', 'name': 'English'}]
status                                                            Released
tagline                  Still Yelling. Still Fighting. Still Ready for...
video                                                                False
vote_average                                                           6.5
vote_count                                                              92
Name: Grumpier Old Men, dtype: object

**7, Viết chương trình Pandas để có được thông tin chi tiết về bộ phim thứ năm của DataFrame.**

**Write a Pandas program to get the details of fifth movie of the DataFrame.**

In [12]:
result = df.iloc[4]
print("Details of the fifth movie of the DataFrame")
print(result)

Details of the fifth movie of the DataFrame
adult                                                                False
belongs_to_collection    {'id': 96871, 'name': 'Father of the Bride Col...
budget                                                                   0
genres                                      [{'id': 35, 'name': 'Comedy'}]
homepage                                                               NaN
id                                                                   11862
imdb_id                                                          tt0113041
original_language                                                       en
original_title                                 Father of the Bride Part II
overview                 Just when George Banks has recovered from his ...
popularity                                                         8.38752
poster_path                               /e64sOI48hQXyru7naBFyssKFxVd.jpg
production_companies     [{'name': 'Sandollar Productions', 'id': 5842}...
production_countries     [{'iso_3166_1': 'US', 'name': 'United States o...
release_date                                                    1995-02-10
revenue                                                        7.65789e+07
runtime                                                                106
spoken_languages                  [{'iso_639_1': 'en', 'name': 'English'}]
status                                                            Released
tagline                  Just When His World Is Back To Normal... He's ...
video                                                                False
vote_average                                                           5.7
vote_count                                                             173
Name: Father of the Bride Part II, dtype: object

**8, Viết chương trình Pandas để tạo một khung dữ liệu nhỏ hơn với một tập hợp con của tất cả các tính năng.**

**Write a Pandas program to create a smaller dataframe with a subset of all features.**

In [14]:
small_df = df[['budget', 'revenue', 'runtime']]
print("Smaller DataFrame:")
print(small_df.head())

Smaller DataFrame:
                               budget      revenue  runtime
title
Toy Story                    30000000  373554033.0     81.0
Jumanji                      65000000  262797249.0    104.0
Grumpier Old Men                    0          0.0    101.0
Waiting to Exhale            16000000   81452156.0    127.0
Father of the Bride Part II         0   76578911.0    106.0

**9, Viết chương trình Pandas để hiển thị 10 hàng đầu tiên của DataFrame.**

**Write a Pandas program to display the first 10 rows of the DataFrame.**

In [15]:
result = df.head(10)
print("First 10 rows of the DataFrame:")
print(result)

First 10 rows of the DataFrame:
                             adult  ... vote_count
title                               ...
Toy Story                    False  ...     5415.0
Jumanji                      False  ...     2413.0
Grumpier Old Men             False  ...       92.0
Waiting to Exhale            False  ...       34.0
Father of the Bride Part II  False  ...      173.0
Heat                         False  ...     1886.0
Sabrina                      False  ...      141.0
Tom and Huck                 False  ...       45.0
Sudden Death                 False  ...      174.0
GoldenEye                    False  ...     1194.0

[10 rows x 23 columns]

**10, Viết chương trình Pandas để sắp xếp DataFrame dựa trên release_date.**

**Write a Pandas program to sort the DataFrame based on release_date.**

In [17]:
result = small_df.sort_values('budget')
print("DataFrame based on budget:")
print(result)

DataFrame based on budget:
                                                               budget  ...  runtime
title                                                                  ...
NaN                                  /ff9qCepilowshEtG2GYWwzt2bs4.jpg  ...      NaN
NaN                                  /zV8bHuSL6WXoD6FWogP9j4x80bL.jpg  ...      NaN
NaN                                  /zaSf5OG7V8X8gqFvly88zDdRm46.jpg  ...      NaN
Queerama                                                            0  ...     75.0
Escape Me Never                                                     0  ...     95.0
...                                                               ...  ...      ...
Don't Breathe                                                 9900000  ...     88.0
The Peanuts Movie                                            99000000  ...     88.0
Kidulthood                                                     994000  ...     89.0
Life Feels Good                                                996519  ...    107.0
Revolutionary Girl Utena: The Movie                            998000  ...     87.0

[45466 rows x 3 columns]

**11, Viết chương trình Pandas để truy cập những bộ phim đó, được phát hành sau 1995-01-01.**

**Write a Pandas program to access those movies,released after 1995-01-01.**

In [20]:
# Create a smaller dataframe
small_df = df[['release_date', 'budget', 'revenue', 'runtime']]
result = small_df[small_df['release_date'] > '1995-01-01']
print("DataFrame based on release date>'1995-01-01'.")
print(result)

DataFrame based on release date>'1995-01-01'.
                            release_date    budget      revenue  runtime
title
Toy Story                     1995-10-30  30000000  373554033.0     81.0
Jumanji                       1995-12-15  65000000  262797249.0    104.0
Grumpier Old Men              1995-12-22         0          0.0    101.0
Waiting to Exhale             1995-12-22  16000000   81452156.0    127.0
Father of the Bride Part II   1995-02-10         0   76578911.0    106.0
...                                  ...       ...          ...      ...
Shadow of the Blair Witch     2000-10-22         0          0.0     45.0
The Burkittsville 7           2000-10-03         0          0.0     30.0
Century of Birthing           2011-11-17         0          0.0    360.0
Betrayal                      2003-08-01         0          0.0     90.0
Queerama                      2017-06-09         0          0.0     75.0

[27294 rows x 4 columns]

**12, Viết chương trình Pandas để sắp xếp phim trong thời gian chạy theo thứ tự giảm dần.**

**Write a Pandas program to sort movies on runtime in descending order.**

In [21]:
result = small_df.sort_values('runtime', ascending=False)
print("DataFrame sort on Runtime")
print(result.head())

DataFrame sort on Runtime
                               release_date budget  revenue  runtime
title
Centennial                       1978-10-01      0      0.0   1256.0
Baseball                         1994-09-18      0      0.0   1140.0
Jazz                             2001-01-09      0      0.0   1140.0
Berlin Alexanderplatz            1980-08-28      0      0.0    931.0
Heimat: A Chronicle of Germany   1984-09-16      0      0.0    925.0

**13, Viết chương trình Pandas để có được những bộ phim có doanh thu hơn 2 triệu và chi dưới 1 triệu.**

**Write a Pandas program to get those movies whose revenue more than 2 million and spent less than 1 million.**

In [0]:
result = small_df[(small_df['revenue'] > 2000000) & (small_df['budget'] < 1000000)]
print("Movies, revenue more than 2 million and spent less than 1 million:")
print(result.head())

**14, Viết chương trình Pandas để có thời gian chạy dài nhất và thời gian chạy ngắn nhất.**

**Write a Pandas program to get the longest runtime and shortest runtime.**

In [30]:
small_df = df[['runtime']]
run_time = small_df['runtime']
print(small_df)
print("===============================================")
print("Longest runtime")
print(run_time.max())
print("Shortest runtime")
print(run_time.min())

                             runtime
title
Toy Story                       81.0
Jumanji                        104.0
Grumpier Old Men               101.0
Waiting to Exhale              127.0
Father of the Bride Part II    106.0
...                              ...
Subdue                          90.0
Century of Birthing            360.0
Betrayal                        90.0
Satan Triumphant                87.0
Queerama                        75.0

[45466 rows x 1 columns]
===============================================
Longest runtime
1256.0
Shortest runtime
0.0

**15, Viết chương trình Pandas để tính số lượng phiếu thu được từ bộ phim 70%.**

**Write a Pandas program to calculate the number of votes garnered by the 70% movie.**

In [31]:
result = df['vote_count'].quantile(0.70)
print(result)

25.0

**16, Viết chương trình Pandas để hiển thị phim (tiêu đề, thời gian chạy) dài hơn 30 phút và ngắn hơn 360 phút.**

**Write a Pandas program to display the movies (title, runtime)longer than 30 minutes and shorter than 360 minutes.**

In [34]:
small_df = df[['runtime']]
result = small_df[(small_df['runtime'] >= 30) & (small_df['runtime'] <= 360)]
print("List of movies longer than 30 minutes and shorter than 360 minutes:")
print(result)

List of movies longer than 30 minutes and shorter than 360 minutes:
                             runtime
title
Toy Story                       81.0
Jumanji                        104.0
Grumpier Old Men               101.0
Waiting to Exhale              127.0
Father of the Bride Part II    106.0
...                              ...
Subdue                          90.0
Century of Birthing            360.0
Betrayal                        90.0
Satan Triumphant                87.0
Queerama                        75.0

[42297 rows x 1 columns]

**17, Viết chương trình Pandas để hiển thị các bộ phim (tiêu đề, số phiếu) đã nhận được số phiếu xác định.**

**Write a Pandas program to display the movies (title, number of votes) that received specified number of votes.**

In [36]:
n = 500
small_df = df[['vote_count']]
result = small_df[small_df['vote_count'] >= n]
print("List of movies longer than 30 minutes and shorter than 360 minutes:")
print(result)

List of movies longer than 30 minutes and shorter than 360 minutes:
                               vote_count
title
Toy Story                          5415.0
Jumanji                            2413.0
Heat                               1886.0
GoldenEye                          1194.0
Casino                             1343.0
...                                   ...
What Happened to Monday             598.0
Atomic Blonde                       748.0
Dunkirk                            2712.0
Transformers: The Last Knight      1440.0
The Dark Tower                      688.0

[2056 rows x 1 columns]